.ButtonsOfCalculator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
}

.ButtonsOfCalculator:active {
  background-color: var(--white-semiDark);
}

.ButtonsOfCalculator.double {
  grid-column: span 2;
}

.ButtonsOfCalculator.triple {
  grid-column: span 3;
}

.ButtonsOfCalculator.operation {
  background-color: var(--orange-color);
  color: var(--white-color);
}

.ButtonsOfCalculator.operation:active {
  background-color: var(--orange-semiDarkTransparent);
}
